* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f8f5ff;
}

/* ---------------------Header--------------------- */
header p {
  font-weight: 600;
  line-height: 50px;
}

header {
  text-align: center;
  margin-top: 85px;
}

/* -----------------------Box--------------------------- */

.box-1 {
  height: 400px;
  width: 300px;
  border: 1.5px solid #d7d6db;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
  margin-right: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.box-2 {
  height: 400px;
  width: 300px;
  border: 1.5px solid #a940d0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
  margin-right: 20px;
}

.box-3 {
  height: 400px;
  width: 300px;
  border: 1.5px solid #d7d6db;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
}

.main-box {
  margin-left: 12%;
  margin-top: 50px;
}

/* ----------------------Text----------------------- */

.text-sec h6 {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}

.text-sec h1 {
  display: inline-block;
  margin-top: 10px;
  font-size: 45px;
}
.text-sec label {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
}

.text-sec h2 {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

.text-sec p {
  font-size: 14px;
  margin-top: 10px;
  color: #7d7c7c;
}

.text-sec {
  margin: 20px 20px 20px 20px;
}

button {
  border: 0;
  color: #f8f5ff;
  background: #a940d0;
  display: block;
  margin-top: 20px;
  margin-left: 7px;
  border-radius: 20px;
  padding: 14px 80px 14px 80px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.features .label-2 {
  font-size: 13px;
}

.fa-check {
  color: #48c691;
  font-size: 13px;
}

.features h4 {
  margin-top: 20px;
  font-size: 12px;
  color: #7d7c7c;
}

.features .label-3 {
  font-size: 13px;
  color: #7d7c7c;
}

.fa-xmark {
  color: #7d7c7c;
  font-size: 13px;
}

.text-sec h5 {
  display: inline-block;
  background: #f5e4f6;
  color: #a940d0;
  padding: 5px 7px 5px 7px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-left: 88px;
}

button:hover {
  padding: 14px 80px 14px 80px;
  border: 1.5px solid #7d7c7c;
  color: #a940d0;
  border-radius: 20px;
  background: #f8f5ff;
}
